.wrapper{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #333;
  gap: 2.5rem;
}
.counter{
  font-size: 2rem;
}
.header{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #aaaaaa;
  background-color: #f4f4f4;
}
.header_text{
  font-size: 5rem;
}
.question{
  padding: 1rem;
}
.logo{
  width: 100px;
  height: 100px;
}

.list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.7rem;
}
.item{
  font-size: 1.6rem;
  color: #333;
  outline: none;
  border: none;
  padding: 0.8rem;
  border-radius: 25px;
  cursor: pointer;
  
}
.item:hover{
  background: #f0db4f;
  transition: all 0.1s ease-in-out;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #aaaaaa;
  background-color: #f4f4f4;
  min-width: 500px;
}
.quiz{
  max-width: 490px;
  max-height: 490px;  
}
.showcase{
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
@media (max-width: 480px){
   .wrapper {
    max-height: 80vh;
     justify-content: center;
     align-items: center;

      }
  .header{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    padding: 0 2.3rem;
    box-shadow: none;
    height: 80%;
  }
  .header_text{
    display: none;
  }
  .logo{
    width: 100px;
    height: 100px;
  }
  .quiz{
    display: none;
  }
  .counter{

  }

  .showcase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .question{
    font-size: 1.2rem;
    margin: none;
    min-width: 300px;
    letter-spacing: 0.5px;
    background-color: #f0db4f;
    padding: 2rem;
    box-shadow: 10px 10px 5px #aaaaaa;
    color: #fff;
  }
  .card{
    background-color: #fff;
    box-shadow: none;
    margin: none;
    width: 30px;
    min-width: 380px;
    min-height: 300px;
    justify-content: space-evenly;
  }
  .item{
    font-size: 1rem;
    background: #f4f4f4;
    color: #333;
    min-width: 300px;
    border: #aaaaaa solid 2px;
  }
  .item:hover,
  .item:active {
    background: #f0db4f;
    transition: all 0.1s ease-in-out;
    }
  .list{
    min-width: 300px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }
}